<template>
  <div class="flex gap-1 items-center mb-8">
    <div class="bg-blue-600 rounded-full inline-block p-2 mr-2">
      <slot name="icon" />
    </div>
    <h2 class="font-bold text-xl">
      <slot />
    </h2>
  </div>
</template>
