<template>
  <NCard :bordered="false" class="shadow-xl rounded-2xl">
    <div v-if="loading" class="flex align-middle justify-center">
      <NSpin></NSpin>
    </div>
    <div v-else>
      <div class="flex flex-wrap gap-3 justify-between">
        <NButtonGroup>
          <NButton
              round
              type="info"
              :ghost="selectedChart !== Charts.TOTAL_REVENUE"
              @click="setSelectedChart(Charts.TOTAL_REVENUE)"
          >
            Total Revenue
          </NButton>
          <NButton
              round
              type="success"
              :ghost="selectedChart !== Charts.TOTAL_VOLUME"
              @click="setSelectedChart(Charts.TOTAL_VOLUME)"
          >
            Total Volume
          </NButton>
        </NButtonGroup>
        <NButton
            round
            @click="downloadPNG"
        >
          Download PNG
          <template #icon>
            <NIcon>
              <DownloadIcon></DownloadIcon>
            </NIcon>
          </template>
        </NButton>
      </div>
      <div id="chart" class="mt-4"></div>
    </div>
  </NCard>
</template>

<script setup lang="ts">
import {onMounted, reactive, ref} from 'vue'
import {NButton, NButtonGroup, NCard, NIcon, NSpin} from "naive-ui";
import {useLoadData} from "../../hooks/useLoadData";
import {DownloadIcon} from "@heroicons/vue/solid";
import {ChartOptions, StockExchangeItem} from "../../interfaces";
import {useCreateChart} from "./hooks/useCreateChart";
import {Charts, Colors} from "../../enums";
import Plotly from "plotly.js-basic-dist";
import {useDownloadFile} from "../../hooks/useDownloadFile";

const {loading, loadData} = useLoadData()
const {downloadFile} = useDownloadFile()
const {createChart, chartElement} = useCreateChart()

const stockData = ref<StockExchangeItem[]>()
const selectedChart = ref<Charts>(Charts.TOTAL_REVENUE)

const chartOptions = reactive<Record<Charts, ChartOptions>>({
  [Charts.TOTAL_REVENUE]: {
    title: 'Total Revenue',
    type: 'scatter',
    color: Colors.BLUE
  },
  [Charts.TOTAL_VOLUME]: {
    title: 'Total Volume',
    type: 'bar',
    color: Colors.GREEN
  },
})

/**
 * Load the JSON datasource when the component is mounted and create the plotly chart
 */
onMounted(async () => {
  stockData.value = await loadData<StockExchangeItem[]>('../api/aggregated_stock_exchange.json')
  if (stockData.value) {
    await createChart(
        stockData.value,
        selectedChart.value,
        chartOptions[selectedChart.value]
    )
  }
})

const setSelectedChart = (chart: Charts) => {
  selectedChart.value = chart
  if (stockData.value) {
    createChart(
        stockData.value,
        chart,
        chartOptions[chart]
    )
  }
}

const downloadPNG = async () => {
  const image = await Plotly.toImage(chartElement.value, {
    format: 'png',
    height: 400,
    width: 700
  })
  downloadFile('stock_chart.png', image)
}
</script>
