<template>
  <div class="flex flex-col gap-3">
    <div
        class="hidden sm:grid py-2 px-4"
        :class="gridColumns"
    >
      <div
          v-for="column in columns"
          @click="onSortChange(column)"
          class="flex select-none cursor-pointer text-gray-900 font-light hover:font-medium hover:text-blue-700"
          :class="[
              column.key === sorting.sortkey ? 'font-medium' : '',
              columnAlignment(column),
          ]"
      >
        <span>
          {{ column.title }}
        </span>
        <ChevronDownIcon
            v-show="sorting.sortkey === column.key"
            class="h-5 inline p-0 hover:block"
            :class="sortOrderClass"
        />
      </div>
      <div></div>
    </div>
    <template v-if="loading">
      <div class="flex items-center justify-center">
        <NSpin/>
      </div>
    </template>
    <template v-else-if="limitedData.length === 0">
      <div class="flex items-center justify-center">
        <NEmpty/>
      </div>
    </template>
    <template v-else>
      <div
          v-for="row in limitedData"
          :class="gridColumns"
          class="flex flex-wrap sm:grid bg-white p-4 rounded-xl hover:bg-blue-50 hover:shadow-sm"
      >
        <div
            v-for="column in columns"
            class="w-1/2 sm:w-full flex flex-col mb-2 sm:mb-0"
            :class="columnAlignment(column)"
        >
          <div
              class="flex-1 text-right font-light text-gray-600 sm:hidden cursor-pointer select-none"
              @click="onSortChange(column)"
          >
            {{ column.title }}
          </div>
          <div
              class="flex-1 text-right sm:text-left sm:flex-none"
              v-html="columnFormat(column, row)"
          ></div>
        </div>
        <slot name="extra" :row="row"/>
      </div>
    </template>
  </div>
</template>

<script setup lang="ts">
import {NEmpty, NSpin} from "naive-ui";
import {ChevronDownIcon} from "@heroicons/vue/solid";
import {SortingOptions, SortOrder, StockDataItem, TableColumn} from "../../../interfaces";
import {computed} from "vue";

const props = defineProps<{
  data: StockDataItem[],
  columns: TableColumn[],
  loading: boolean,
  sorting: SortingOptions,
  pageSize: number
}>()

const emit = defineEmits<{
  (e: 'update:sorting', sorting: SortingOptions): void
}>()

/**
 * Reduces the table data to the page size length
 */
const limitedData = computed<StockDataItem[]>(() => {
  return props.data?.slice(0, props.pageSize)
})

const formatDate = (date: string) => {
  return (new Date(date)).toLocaleDateString()
}

const columnFormat = (column: TableColumn, row: StockDataItem) => {
  const value = row[column.key as keyof StockDataItem]

  if (column.formatter) {
    return column.formatter(value)
  }

  return value
}

/**
 * Cycle through the sort orders and emit the resulting sorting option
 *
 * @param column
 */
const onSortChange = (column: TableColumn) => {
  let sortOrder: SortOrder = 'ascend'
  let columnKey = column.key

  if (props.sorting.sortkey === column.key) {
    switch (props.sorting.sortOrder) {
      case false:
        sortOrder = 'ascend'
        break
      case "ascend":
        sortOrder = 'descend'
        break
      case "descend":
        sortOrder = false
        columnKey = ''
        break
      default:
        sortOrder = false
        columnKey = ''
    }
  }

  const sorting: SortingOptions = {
    sortkey: columnKey,
    sortOrder: sortOrder
  }

  emit('update:sorting', sorting)
}

/**
 * Method returning the tailwind css class for right aligned columns
 *
 * @param column
 */
const columnAlignment = (column: TableColumn): string => {
  return column.align === 'right' ? 'sm:flex-row-reverse' : ''
}

/**
 * Computes the number of grid columns, including the extra slot.
 * Returns a tailwind class string.
 */
const gridColumns = computed(() => {
  return 'sm:grid-cols-' + (props.columns.length + 1)
})

const sortOrderClass = computed<string>(() => {
  if (props.sorting.sortOrder === false) {
    return 'hidden'
  }
  return props.sorting.sortOrder === 'descend' ? 'transform rotate-180' : ''
})
</script>
