<template>
  <div class="mb-4 flex flex-col sm:flex-row flex-wrap sm:justify-between gap-2">
    <div class="flex gap-3 flex-col sm:flex-row">
      <NInput
          round
          v-model:value="searchTerm"
          :bordered="false"
          placeholder="Search"
          size="large"
          clearable
          autosize
          class="sm:w-64 max-w-full"
      >
        <template #suffix>
          <NIcon>
            <SearchIcon></SearchIcon>
          </NIcon>
        </template>
      </NInput>
      <NSelect
          v-model:value="selectedTicker"
          :options="tickers"
          :loading="loading"
          :disabled="loading"
          :bordered="false"
          size="large"
          filterable
          multiple
          placeholder="Select Ticker"
          max-tag-count="responsive"
          class="sm:w-64 max-w-full rounded-full overflow-hidden"
      ></NSelect>
    </div>
    <NButton
        @click="downloadCSVData"
        :bordered="false"
        size="large"
    >
      Download CSV
      <template #icon>
        <NIcon>
          <DownloadIcon></DownloadIcon>
        </NIcon>
      </template>
    </NButton>
  </div>
  <StockTableBase
      :data="offsetData"
      :columns="columns"
      :loading="loading"
      :page-size="pageSize"
      v-model:sorting="sorting"
  >
    <template #extra="{ row }">
      <n-tooltip trigger="hover" placement="top-start">
        <template #trigger>
          <div class="flex h-6 w-full sm:w-auto items-center mt-3 sm:mt-0 sm:ml-4">
            <div class="relative w-full h-4 bg-gray-100 rounded-full overflow-hidden">
              <div
                  class="bg-blue-400 h-full"
                  style="position:absolute"
                  :style="candleData(row)"
              ></div>
            </div>
          </div>
        </template>
        Candlestick Bar for {{ row.date }}<br>
        O: {{ row.open_price }}<br>
        H: {{ row.high_price }}<br>
        L: {{ row.low_price }}<br>
        C: {{ row.close_price }}
      </n-tooltip>
    </template>
  </StockTableBase>
  <div class="flex justify-end mt-6">
    <NPagination
        v-model:page="page"
        :page-slot="7"
        :show-quick-jumper="true"
        :page-size="pageSize"
        :item-count="filteredData.length"
    ></NPagination>
  </div>
</template>

<script setup lang="ts">
import {NButton, NIcon, NInput, NPagination, NSelect, NTooltip, SelectOption} from "naive-ui";
import {computed} from "vue";
import {DownloadIcon, SearchIcon} from "@heroicons/vue/solid";
import {useDownloadFile} from "../../hooks/useDownloadFile";
import {useCreateTable} from "./hooks/useCreateTable";
import StockTableBase from "./components/StockTableBase.vue"
import {useModifyTable} from "./hooks/useModifyTable";
import {StockDataItem} from "../../interfaces";

const {downloadFile} = useDownloadFile()
const {columns, tableData, loading} = useCreateTable()
const {
  selectedTicker,
  searchTerm,
  page,
  pageSize,
  sorting,
  filteredData,
  sortedData,
  offsetData,
} = useModifyTable(tableData)


/**
 * Computes an array of unique Tickers based on the table data
 */
const tickers = computed<SelectOption[]>(() => {
  const uniqueTickers = new Set(
      tableData.value?.map(item => item.name)
  )

  return [...uniqueTickers].map(item => ({
    label: item,
    value: item
  }))
})

/**
 * Calculate the left and width values for the candle chart
 *
 * @param row
 */
const candleData = (row: StockDataItem) => {
  const range = row.high_price - row.low_price

  if (range === 0) {
    return 'left: 0; right: 0'
  }

  let open = row.open_price - row.low_price
  let close = row.close_price - row.low_price

  // Swap open and close if close was lower than open
  if(close < open) {
    let temp = close
    close = open
    open = temp
  }

  const left = ((open/range) * 100)
  const right = ((close/range) * 100)

  return `left: ${left.toFixed(2)}%; width: ${(right - left).toFixed(2)}%`
}

/**
 * Download the Table Data converted to csv data, including headers
 */
const downloadCSVData = () => {
  let csv = columns.value.map(column => column.title).join(',')
  csv += "\n";

  sortedData.value.forEach((row) => {
    csv += Object.values(row).join(',');
    csv += "\n";
  });

  csv = 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv)

  downloadFile('stock_data.csv', csv)
}

</script>
