<template>
  <NConfigProvider :theme-overrides="overwrites">
    <div class="2xl:container mx-auto p-4 md:p-8">
      <IconHeadline>
        <template #icon>
          <TrendingUpIcon class="w-5 text-white"/>
        </template>
        Stock Chart
      </IconHeadline>
      <StockChart/>
      <IconHeadline class="mt-8">
        <template #icon>
          <TableIcon class="w-5 text-white"/>
        </template>
        Stock Table
      </IconHeadline>
      <StockTable/>
    </div>
  </NConfigProvider>
</template>

<script setup lang="ts">
import {GlobalThemeOverrides} from "naive-ui/lib/config-provider/src/interface";
import StockTable from './components/StockTable/StockTable.vue'
import StockChart from './components/StockChart/StockChart.vue'
import {NConfigProvider} from "naive-ui";
import {TableIcon, TrendingUpIcon} from "@heroicons/vue/solid";
import {ref} from "vue";
import {Colors} from "./enums";
import IconHeadline from "./components/IconHeadline/IconHeadline.vue";

/**
 * NaiveUI Theme Overwrites
 */
const overwrites = ref<GlobalThemeOverrides>({
  common: {
    primaryColor: Colors.BLUE
  },
  Tag: {
    borderRadius: '15px',
    border: 'none',
    color: Colors.BLUE,
    textColor: '#fff',
    closeColor: '#fff'
  }
})
</script>
